.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Segoe UI", "Microsoft YaHei", sans-serif;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.title-label {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-text-fill: #ce1230;
    -fx-padding: 0 0 20 0;
}

.text-field {
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-pref-height: 45px;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 0 10 0 10;
    -fx-alignment: center-left;
}

.text-field:focused {
    -fx-border-color: #ce1230;
    -fx-border-width: 2px;
}

.button {
    -fx-background-color: #ce1230;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-pref-width: 100px;
    -fx-max-width: 250px;
    -fx-pref-height: 50px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #9d0d24;
}

.button:pressed {
    -fx-background-color: #7a0a1c;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.list-view {
    -fx-background-radius: 5;
    -fx-border-color: #dddddd;
    -fx-pref-height: 200px;
    -fx-max-width: 350px;
}

.list-cell:filled:selected {
    -fx-background-color: #ce1230;
    -fx-text-fill: white;
}

.account-vbox {
    -fx-padding: 30;
    -fx-spacing: 15;
    -fx-border-color: #dddddd;
    -fx-border-width: 0 1 0 0;
    -fx-pref-width: 250px;
    -fx-max-width: 250px;

}

.menu-vbox {
    -fx-padding: 30;
    -fx-min-width: 250px;
}

.content-vbox {
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-min-width: 400px;
}
